@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #0f6d70;
  --color-primary-alt: #0f6d6f;
  --color-secondary: #e6f4ff;
  --color-bg: #ebf3f3;
  --font-sans: "Poppins", sans-serif;
}

:root {
  --color-primary: #0f6d70;
  --color-primary-alt: #0f6d6f;
  --color-secondary: #e6f4ff;
  --color-bg: #ebf3f3;
}

body {
  background-color: var(--color-bg);
  font-family: "Poppins", sans-serif;
  color: #1a1a1a;
}